<div class="container" ng-controller="SKUController">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="padding: 5px 0 0;">
            <table class="table table-hover table-bordered center">
                <thead>
                    <tr>
                        <th class="center">TIENDA</th>
                        <th class="center">STOCK</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="store in stores">
                        <td>{{ store.StoreName }}</td>
                        <td>{{ store.OnHandQty }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align:center;">
        <button class="btn btn-primary" ng-click="goBack()">Volver</button>
    </div>
</div>